* {
    font-family: arial, sans-serif;
}

.links {
    display: flex;
    justify-content: right;
    column-gap: 1vw;
}

a {
    text-decoration: none;
    color: black;
    font-size: small;
    margin-top: 8px;
}

a:hover {
    text-decoration: underline;
}

.mainSection {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    margin-top: 7vh;
}

.input {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #202124;
}

.inputField {
    border: 1px solid #cdcdcd;
    border-radius: 50px;
    width: 50vw;
    height: 41px;
}

.inputField:hover {
    border-color: transparent;
    box-shadow: 0 0 0 1px rgb(206, 203, 203),
        0 0 0 1px rgb(194, 192, 192),
        0 0 0 1px rgb(211, 208, 208),
        0 0 0 3px rgb(240, 237, 237);
}

/* inspected */
.searchIcon {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-top: 0.75em;
    margin-left: 0.55em;

    overflow-clip-margin: content-box;
    overflow: hidden;
    line-height: 20px;
    color: #9aa0a6;
    fill: currentColor;
    position: relative;
}

input[type=text] {
    background-color: transparent;
    border: none;
    width: 75%;
    font-size: 1.2em;
    margin-top: -37px;
    /* 
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 16px;
    flex: 100%; */
}

input[type=text]:focus {
    outline: none;
}

input[type=submit] {
    border: 1px solid #f8f9fa;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;

    background-color: #f8f9fa;
    color: #3c4043;
    padding: 0 16px;
    margin: 11px 4px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    user-select: none;
    font-size: 14px;
}

input[type=submit]:hover {
    box-shadow: 0 0 0 1px rgb(216, 213, 213),
        0 0 0 0.5px rgb(194, 192, 192);
}


.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media (orientation: portrait) {
    .inputField {
        height: calc(41px - 1vh);
    }

    .googleLogo {
        width: 33vw;
        height: 13vw;
    }
}