#head {
    text-align: right;
}

/* #mainSection {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    justify-content: center;
    grid-row-gap: 5px;
} */

#inputField {
    position: absolute;
    top: 260px;
    left: 375px;
    width: 580px;
    height: 41px;
    border: 1px solid #cdcdcd;
    border-radius: 50px;
    align-items: center;
    align-content: center;
}

#inputField:hover {
    border: none;
    box-shadow: 0 0 0 1px rgb(206, 203, 203),
        0 0 0 1px rgb(194, 192, 192),
        0 0 0 1px rgb(211, 208, 208),
        0 0 0 3px rgb(240, 237, 237);
}

input[type=text] {
    background-color: transparent;
    top: 260px;
    left: 375px;
    width: 500px;
    height: 30px;
    border: none;
    font-size: 1.2em;
    padding-top: 5px;
}

input[type=text]:focus {
    outline: none;
}

/* input[type=submit] {
    cursor: pointer;
    position: absolute;
    top: 310px;
    left: 550px;
    border: 1px solid #dcdcdc;
    border-color: rgba(0, 0, 0, 0.1);
    color: #444 !important;
    font-size: 11px;
    font-weight: bold;
    padding: 8px;
    background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    border-radius: 2px;
    
} */

input[type=submit] {
    border: none;
}

input[type=submit]:hover {
    /* border: 1px solid gray; */
    box-shadow: 0 0 0 1px rgb(216, 213, 213),
        0 0 0 0.5px rgb(194, 192, 192);
}

a {
    margin-top: 8px;
    text-decoration: none;
    color: black;
    font-size: small;
}

a:hover {
    text-decoration: underline;
}

#search_button {
    position: absolute;
    top: 310px;
    left: 550px;
    border: 1px solid #dcdcdc;
    border-color: rgba(0, 0, 0, 0.1);
    color: #444 !important;
    font-size: 11px;
    font-weight: bold;
    padding: 8px;
    background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    border-radius: 2px;
    cursor: pointer;
}

#lucky_button {
    position: absolute;
    top: 310px;
    left: 680px;
    border: 1px solid #dcdcdc;
    border-color: rgba(0, 0, 0, 0.1);
    color: #444 !important;
    font-size: 11px;
    font-weight: bold;
    padding: 8px;
    background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    border-radius: 2px;
    cursor: pointer;
}

#google-logo {
    /* position: absolute; */
    margin-top: 110px;
}

#button {
    padding: 50px;
}

#item1 {
    padding-right: 0.5%;
}

#links {
    display: grid;
    grid-template-columns: 0.96fr 0.04fr;
}

#search-icon {
    padding-top: 8px;
}